apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: rustfs-auth
  namespace: storage
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  target:
    name: rustfs-auth
    creationPolicy: Owner
  data:
    - secretKey: access_key
      remoteRef:
        key: rustfs-access-key
    - secretKey: secret_key
      remoteRef:
        key: rustfs-secret-key
