apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: image-updater-crs
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/yashikota/kotarnetes.git
    targetRevision: main
    path: manifests/image-updater
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
