apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mackerel
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/yashikota/kotarnetes.git
    targetRevision: main
    path: manifests/monitoring/mackerel
  destination:
    server: https://kubernetes.default.svc
    namespace: mackerel
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
